@font-face {font-family: ubuntuMonoBold; src: url(/fonts/UbuntuMono-B.ttf);}
@font-face {font-family: ubuntuMono; src: url(/fonts/UbuntuMono-R.ttf);}

.logo {
	font-family: ubuntuMonoBold;
	font-size: 40px;
	text-shadow: 0px 0px 8px #666;
}
body {
  font-family: ubuntuMono, Helvetica, Arial, sans-serif;
  font-size: 14px;
}

#drawing_layers {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 10px #bbb;
	cursor: crosshair;
	position: relative;
}

#drawing_canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9007199254740991;
}

#crop_canvas {
	border: 1px solid #000;
}

.drawing_layer {
	position: absolute;
	top: 0px;
	left: 0px;
}

a.logo:link, a.logo:visited {
	color: #d9d9d9;
}
a.logo:hover, a.logo:active {
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 16px #000;
}