@font-face {font-family: ubuntuMonoBold; src: url(/fonts/UbuntuMono-B.ttf);}
@font-face {font-family: ubuntuMono; src: url(/fonts/UbuntuMono-R.ttf);}
@font-face {font-family: ubuntuRegular; src: url(/fonts/Ubuntu-R.ttf);}
@font-face {font-family: ubuntuBold; src: url(/fonts/Ubuntu-B.ttf);}

.logo {
	font-family: ubuntuMonoBold;
	font-size: 40px;
	text-shadow: 0px 0px 8px #666;
}
body {
	font-family: ubuntuRegular, Helvetica, Arial, sans-serif;
	font-size: 22px;
}

.drawing_pointer {
	position: absolute;
	z-index: 9007199254740990; /* just behind the canvas */
}

.pointer_dot {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	box-shadow: 0px 0px 6px 3px rgba(255,255,255,1);
	background-color: #000;
}

.pointer_label {
	position: absolute;
	left: 10px;
	top: -14px;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	border-radius: 10px;
	padding: 4px;
    background-color: rgba(0, 0, 0, 0.8);
	white-space: nowrap;
	font-family: ubuntuBold;
}

#drawing_layers {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 10px #bbb;
	cursor: crosshair;
	position: relative;
}

#drawing_canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 9007199254740991;
}

#crop_canvas {
	border: 1px solid #000;
}

.drawing_layer {
	position: absolute;
	top: 0px;
	left: 0px;
}

a.logo:link, a.logo:visited {
	color: #d9d9d9;
}
a.logo:hover, a.logo:active {
	color: #fff;
	text-decoration: none;
	text-shadow: 0px 0px 16px #000;
}