@font-face {font-family: ubuntuMonoBold; src: url(/fonts/UbuntuMono-B.ttf);}
@font-face {font-family: ubuntuMono; src: url(/fonts/UbuntuMono-R.ttf);}
@font-face {font-family: ubuntuRegular; src: url(/fonts/Ubuntu-R.ttf);}
@font-face {font-family: ubuntuBold; src: url(/fonts/Ubuntu-B.ttf);}
@font-face {font-family: ubuntuItalic; src: url(/fonts/Ubuntu-RI.ttf);}

.logo {
	font-family: ubuntuRegular;
	font-size: 40px;
	line-height: 50px;
	text-shadow: 0px 0px 16px #000;
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 2;
}

#logo_image {
	position: absolute;
	top: 19px;
	left: 138px;
	width: 60px;
	height: 60px; 
	z-index: 1;
}
a.logo:link, a.logo:visited, a.logo:hover, a.logo:active {
	text-decoration: none;
}

a.logo:link, a.logo:visited {
	color: #ddd;
}
a.logo:hover, a.logo:active {
	color: #fff;
	text-decoration: none;
}

body {
	font-family: ubuntuRegular, Helvetica, Arial, sans-serif;
	font-size: 22px;
	background-color: #fff;
	color: #333;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;

	/* disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

h1 {
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 30px;
}

#navbar {
	height: 50px;
	background-color: #333;
	border-bottom: 2px solid #000;
	padding: 20px;
	position: relative;
	box-shadow: 0px 0px 10px 3px #bbb;
}

#navbar .button {
	position: absolute;
	bottom: 20px;
	right: 20px;
	float: right;
	vertical-align: bottom;	
	z-index: 9001;
	font-weight: normal;
}

.content {
	margin: 20px 20px 20px 20px;
	float: left;
	display: block;
}



#drawing_form {
	background-color: #eee;
	float: left;
}

.drawing_pointer {
	position: absolute;
	z-index: 9007199254740989; /* just behind the canvas */
}

#drawing_layers {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 10px 3px #bbb;
	cursor: crosshair;
	position: relative;
	user-select: none;
}

#drawing_canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

/* canvas that other users are drawing onto, or this user */
.drawing_canvas {
	z-index: 9007199254740000;	
	position: absolute;
	top: 0px;
	left: 0px;
}

#crop_canvas {
	border: 1px solid #000;
}

.drawing_layer {
	position: absolute;
	top: 0px;
	left: 0px;
}

/*** BUTTONS ***/
.button_icon { /* the (e.g. +) icon inside the button */
	margin-right: 10px;	
}

.button {
	color: #ddd;
	padding: 7px 10px;
	font-size: 20px;
	line-height: 25px;
	text-decoration: none;
	border: 1px solid #333;
	/*text-shadow: 0px 0px 8px #666;*/
}

.button:active, .button:hover, .button_pressed, .button_pressed:hover {
	border: 1px solid #000;
	color: #fff;
	text-shadow: 0px 0px 16px #000;
}

.button:hover {
	border: 1px solid #000;
	/*box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.15);*/
}

.button:active, .button_pressed, .button_pressed:hover {
	padding: 9px 10px 5px 10px;
	box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.button_tool {
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 25px;
}

.button_tool, .button_tool:active, .button_tool:hover {
	padding: 10px 10px;
	text-align: center;
	vertical-align: middle;
	float: left;
	border: 1px solid transparent;
	background-color: #eee;
	color: #444;
	text-shadow: none;
}

.button_tool:active, .button_tool:hover, .button_pressed, .button_pressed:hover {
	background-color: #d9d9d9;
	color: #222;
	border: 1px solid #999;
}

.button_tool:active, .button_pressed, .button_pressed:hover {
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.6); 
	padding: 11px 10px 9px 10px;
}

.button_pressed:active {
	padding: 12px 10px 8px 10px;
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6); 
}

.button_form {
	color: #000;
	background-color: none;
	border: 1px solid #bbb;
}

.button_form, .button_form:hover {
	width: auto;
	font-size: 14px;
	text-decoration: none;
	padding: 4px 10px 4px 10px;
	margin-top: 12px;
	margin-left: 12px;
}

.button_form:active {
	padding: 6px 10px 2px 10px;
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6); 
}
.button_form:hover {
	border: 1px solid #999;
}

.rot45 {
	transform: rotate(-45deg);
}

.thumb {
	float: left;
	text-decoration: none;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #fff;
}

.thumb_img {
	display: block;
	width: 300px;
	float: left;
}

.thumb:hover {
	box-shadow: 0px 0px 10px 3px #bbb;
	border: 1px solid #aaa;
}

.thumb_ago, .thumb_ago:link, .thumb_ago:visited, .thumb_ago:hover, .thumb_ago:active  {
	background-color: #eee;
	/*border: 1px solid #ccc;*/
	color: #666;
	padding: 15px;
	font-family: ubuntuItalic;
	font-size: 16px;
	text-align: right;
	clear: both;
}

#drawing_container {
	float: left;
	image-rendering: pixelated;
}

#controls {
	background-color: #eee;
	width: 47px;
	padding: 12px 12px 12px 12px;
	margin-left: 0px;
	float: left;
}

#controls > input {
	margin-bottom: 20px;
	margin-right: 20px;
}

#controls > a {
	margin-bottom: 0px;
}

#colour_picker {
	width: 45px;
	border: 1px solid #000;
	height: 45px;
	cursor: pointer;
	border-radius: 0px;
	z-index: 9000;
	float: left;
	margin-bottom: 5px;
}

/* Peer pointer stuff */
.pointer_dot {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	box-shadow: 0px 0px 6px 3px rgba(255,255,255,1);
	background-color: #000;
	z-index: 9007199254740990;
}

.pointer_label {
	position: absolute;
	left: 10px;
	top: -14px;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	border-radius: 10px;
	text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
	padding: 4px;
    background-color: rgba(0, 0, 0, 0.7);
	white-space: nowrap;
	font-family: ubuntuBold;
	z-index: 9007199254740990;
}


/* Colour picker css tweaks */

.sp-dd {
	display: none;
}

.sp-light {
	border: 0px;
	padding: 0px;
	margin-bottom: 15px;
}

.sp-preview {
	width: 45px;
	height: 45px;
	border: 1px solid #aaa;
}

.sp-picker-container {
	border: none;
}

/* SP buttons */
.sp-container{
	border: 1px solid #aaa;
	background-color: #eee;
	box-shadow: 0px 0px 10px 3px #bbb;
}

.sp-color, .sp-hue, .sp-alpha-inner { 
	border: 1px solid #aaa; 
}

.sp-slider, .sp-alpha-handle {
	border: 1px solid #888;
	box-shadow: 0px 0px 3px 1px #999;
}

.sp-picker-container {
	padding: 12px 12px 300px 12px;
}

.sp-color {
	/*right: 100px;*/
	width: 136px;
}

.sp-hue {
	width: 23px;
	left: 149px; /*# 172 - 12 - 25*/
	/*width: 100px;*/
}

.sp-alpha { 
	bottom: -20px; 
}

.button_form_sp, .button_form_sp:hover, .button-form_sp:active {
	margin-top: 11px;
	margin-bottom: 2px;
}

/*a.sp-button {
	text-decoration: none;
	float: right;
	border: 1px solid #000;
	padding: 5px 10px;
	line-height: 20px;
	font-family: ubuntuRegular, Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin: 10px;
}

a.sp-button, a.sp-button:active, a.sp-button:hover {
	color: #444;
}*/