@font-face {font-family: ubuntuLight; src: url(/fonts/Ubuntu-L.ttf);}
@font-face {font-family: ubuntuLightItalic; src: url(/fonts/Ubuntu-LI.ttf);}
@font-face {font-family: ubuntuRegular; src: url(/fonts/Ubuntu-R.ttf);}
@font-face {font-family: ubuntuRegularItalic; src: url(/fonts/Ubuntu-RI.ttf);}
@font-face {font-family: ubuntuMedium; src: url(/fonts/Ubuntu-M.ttf);}
@font-face {font-family: ubuntuMediumItalic; src: url(/fonts/Ubuntu-MI.ttf);}
@font-face {font-family: ubuntuBold; src: url(/fonts/Ubuntu-B.ttf);}
@font-face {font-family: ubuntuBoldItalic; src: url(/fonts/Ubuntu-BI.ttf);}

@font-face {font-family: ubuntuMonoRegular; src: url(/fonts/UbuntuMono-R.ttf);}
@font-face {font-family: ubuntuMonoRegularItalic; src: url(/fonts/UbuntuMono-RI.ttf);}
@font-face {font-family: ubuntuMonoBold; src: url(/fonts/UbuntuMono-B.ttf);}
@font-face {font-family: ubuntuMonoBoldItalic; src: url(/fonts/UbuntuMono-BI.ttf);}

body {
	font-family: ubuntuRegular, Helvetica, Arial, sans-serif;
	font-size: 22px;
	background-color: #fff;
	color: #333;
	margin: 0px;
	min-width: 873px;

	/* disable text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fixed_width {
	width: 873px;
}

#navbar_wrapper {
	min-width: 873px;
	background-color: #333;
	padding-left: 20px;
	padding-right: 20px;
	height: 70px;
	box-shadow: 0px 0px 10px 3px #bbb;
	border-bottom: 2px solid #000;
}

#navbar {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	padding: 10px 0px 10px 0px;
	position: relative;
}

#content {
	padding: 20px 20px 20px 20px;
	display: block;
	margin: 0 auto;
}

#navbar .button {
	margin-top:21px;
	float: right;
	vertical-align: middle;	
	/*z-index: 9001;*/
	font-weight: normal;
}

.logo {
	font-family: ubuntuRegular;
	font-size: 40px;
	line-height: 50px;
	text-shadow: 0px 0px 16px #000;
	position: absolute;
	float: left;
	top: 8px;
	left: 0px;
	z-index: 2;
}

#logo_image {
	position: absolute;
	top: 12px;
	left: 118px;
	width: 50px;
	height: 50px; 
	z-index: 1;
}

#version_txt {
	position: absolute;
	top: 53px;
	left: 3px;
	font-size: 12px;
	z-index: 3;
	color: #ccc;
}

a {
    -webkit-user-drag: none;
    outline: 0; /* disable ugly FF link outline */
}

a.logo:link, a.logo:visited, a.logo:hover, a.logo:active {
	text-decoration: none;
}

a.logo:link, a.logo:visited {
	color: #ddd;
}
a.logo:hover, a.logo:active {
	color: #fff;
	text-decoration: none;
}

h1 {
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 20px;
	font-size: 30px;
}

#drawing_form {
	background-color: #eee;
	float: left;
	margin-bottom: 20px;
	position: relative;
}

.drawing_pointer {
	position: absolute;
	z-index: 2000000009;
}

#drawing_layers {
	border: 1px solid #aaa;
	box-shadow: 0px 0px 10px 3px #bbb;
	cursor: crosshair;
	position: relative;
	user-select: none;
}

/* canvas that the local user is drawing onto. Remote users draw onto seperate canvases */
#drawing_canvas, #drawing_canvas_preview, .drawing_canvas_cpy {
	z-index: 2000000010;
	position: absolute;
	top: 0px;
	left: 0px;
}

.drawing_canvas {
	position: absolute;
	top: 0px;
	left: 0px;
}

/* remote user canvas */
.drawing_canvas {
	z-index: 2000000009;
	position: absolute;
	top: 0px;
	left: 0px;
}

#crop_canvas {
	border: 1px solid #000;
}

.drawing_layer {
	position: absolute;
	top: 0px;
	left: 0px;
}

#text_input {
	background-color: #fff;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 45px;

	border: 1px solid #888;
    box-shadow: 0px 0px 10px 3px #bbb;
}

#text_input_box {
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 45px;
	font-size: 25px;
	width: 100%;
	font-family: ubuntuMonoRegular;
	margin-right: 20px;
	width: 780px;
	z-index:;
}

input {
	outline: none;
}

/*** BUTTONS ***/
.button_icon { /* the (e.g. +) icon inside the button */
	padding-right: 10px;	
}

.button {
	color: #ddd;
	padding: 7px 10px;
	font-size: 20px;
	line-height: 25px;
	text-decoration: none;
	border: 1px solid transparent;
	/*text-shadow: 0px 0px 8px #666;*/
}

.button:active, .button:hover, .button_pressed, .button_pressed:hover {
	border: 1px solid #000;
	color: #fff;
	text-shadow: 0px 0px 16px #000;
}

.button:hover {
	border: 1px solid #000;
	/*box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.15);*/
}

.button:active, .button_pressed, .button_pressed:hover {
	padding: 9px 10px 5px 10px;
	box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.8);
}

.button_tool {
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 25px;
	outline: none;
	border-radius: 0px;
}

.button_tool, .button_tool:active, .button_tool:hover {
	padding: 10px 10px;
	text-align: center;
	vertical-align: middle;
	float: left;
	border: 1px solid transparent;
	background-color: #eee;
	color: #444;
	text-shadow: none;
}

.button_tool:active, .button_tool:hover, .button_pressed, .button_pressed:hover {
	color: #222;
	border: 1px solid #999;
}

.button_tool:active, .button_pressed, .button_pressed:hover {
	color: #222;
	/*background-color: #007fff;*/
	background-color: #d9d9d9;
}

.button_tool:active, .button_pressed, .button_pressed:hover {
	box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.6); 
	padding: 11px 10px 9px 10px;
}

.button_pressed:active {
	padding: 12px 10px 8px 10px;
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6); 
}

.button_form {
	background-color: none;
	border: 1px solid #bbb;
}

.button_form, .button_form:hover {
	font-family: ubuntuRegular;
	width: auto;
	height: auto;
	font-size: 18px;
	line-height: 18px;
	vertical-align: middle;
	text-decoration: none;
	padding: 6px 10px 6px 10px;
	margin-top: 12px;
	margin-left: 12px;
}

.button_form_bold, .button_form_bold:hover, .button_form_bold:active {
	font-family: ubuntuBold;
}

.button_form:active {
	padding: 8px 10px 4px 10px;
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6); 
}
.button_form:hover {
	border: 1px solid #999;
}

.rot45 {
	transform: rotate(-45deg);
}

.thumb {
	float: left;
	text-decoration: none;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 1px solid #fff;
}

.thumb:nth-child(2n) {
	margin-right: 0px;
}

.thumb_img {
	display: block;
	width: 424px;
	float: left;
}

.thumb:hover {
	box-shadow: 0px 0px 10px 3px #bbb;
	border: 1px solid #aaa;
}

.thumb_inf, .thumb_inf:link, .thumb_inf:visited, .thumb_inf:hover, .thumb_inf:active  {
	background-color: #eee;
	/*border: 1px solid #ccc;*/
	color: #666;
	padding: 15px;
	text-align: right;
	clear: both;
	overflow: hidden;
}

.thumb_ago { 
	float: right; 
	font-family: ubuntuRegularItalic;
	font-size: 16px;
}
.thumb_nusers { 
	float: left; 
	font-family: ubuntuRegular;
	font-size: 16px;
}

#drawing_container {
	float: left;
	image-rendering: pixelated;
}

#controls {
	background-color: #eee;
	width: 47px;
	padding: 12px 12px 12px 12px;
	margin-left: 0px;
	float: left;
}

#controls > input {
	margin-bottom: 20px;
	margin-right: 20px;
}

#controls > a {
	margin-bottom: 12px;
}

#colour_picker {
	width: 45px;
	border: 1px solid #000;
	height: 45px;
	cursor: pointer;
	border-radius: 0px;
	z-index: 2000000011;
	float: left;
	margin-bottom: 5px;
}

/* Peer pointer stuff */
.pointer_dot {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	box-shadow: 0px 0px 6px 3px rgba(255,255,255,1);
	background-color: #000;
	z-index: 2000000008;
}

.pointer_label {
	position: absolute;
	left: 10px;
	top: -14px;
	color: #fff;
	font-size: 18px;
	line-height: 18px;
	border-radius: 10px;
	text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
	padding: 4px;
    background-color: rgba(0, 0, 0, 0.7);
	white-space: nowrap;
	font-family: ubuntuBold;
	z-index: 2000000008;
}


/* Colour picker css tweaks */

.sp-dd {
	display: none;
}

.sp-light {
	border: 0px;
	padding: 0px;
	margin-bottom: 12px;
}

.sp-preview {
	width: 45px;
	height: 45px;
	border: 1px solid #aaa;
}

.sp-picker-container {
	border: none;
}

/* SP buttons */
.sp-container{
	border: 1px solid #aaa;
	background-color: #fff;
	box-shadow: 0px 0px 10px 3px #bbb;
	z-index: 2000000008;
}

.sp-color, .sp-hue, .sp-alpha-inner { 
	border: 1px solid #aaa; 
}

.sp-slider, .sp-alpha-handle {
	border: 1px solid #888;
	box-shadow: 0px 0px 3px 1px #999;
}

.sp-picker-container {
	padding: 12px 12px 300px 12px;
}

.sp-color {
	/*right: 100px;*/
	width: 136px;
}

.sp-hue {
	width: 23px;
	left: 149px; /*# 172 - 12 - 25*/
	/*width: 100px;*/
}

.sp-alpha { 
	bottom: -20px; 
}

.sp-dragger {
	margin-top: 1px;
	margin-left: 1px;
	border: 1px solid #888;
	box-shadow: 0px 0px 2px 1px #444;
	background-color: #fff;
	opacity: .8;
}

.button_form_sp, .button_form_sp:hover, .button-form_sp:active {
	margin-top: 11px;
	margin-bottom: 2px;
}

/* Custom select menu for pixel size selector */
#controls > .ui-selectmenu-button {
	width: 25px;
	margin-bottom: 12px;
}

.ui-selectmenu-menu {
	border: 1px solid #888;
	box-shadow: 0px 0px 10px 3px #bbb;
	font-family: ubuntuRegular;
	font-size: 16px;
}

.ui-icon-triangle-1-s {
	display: none;
}

.ui-selectmenu-text {
	float: none;
	margin: 0px;
	text-overflow: initial;
}

.ui-button:focus {
	background-color: #d9d9d9;
	border: 1px solid #999;
}

.ui-button:active {
	padding: 12px 10px 8px 10px;
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6); 
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-selectmenu-button.ui-button {
	width: auto;
}

#font_face-button {
	margin-bottom: 12px;
}

/*.ui-selectmenu-button-open {
	border: 1px solid #d9d9d9;
}*/

.ui-selectmenu-text {
	margin-left: -10px;
	margin-right: -10px;
	font-size: 14px;
	width: 45px;
	text-align: left;
	vertical-align: middle;
}

.ui-corner-bottom {
	border-radius: 0px;
}

.ui-menu-item-wrapper {
	white-space: nowrap;
	line-height: 18px; /* stops font menu positioning issue */
}

/*.ui-button {
	background-color: #d9d9d9;
}*/

input::selection {
    background: #007fff;
    color: #fff;
}


.fa-caret-left {
	font-size: 11px;
}


.ui-dialog {
	font-family: ubuntuRegular;
	font-size: 20px;
	padding: 0px;
	border-radius: 0px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.ui-dialog .ui-dialog-title {
	margin: 0px;
}

.ui-dialog .ui-dialog-titlebar {
	font-family: ubuntuBold;
	font-size: 20px;
	background-color: #eee;
	border: 0px;
	padding: 12px;
}

#nick_input {
	font-family: ubuntuMonoRegular;
	line-height: 45px;
	font-size: 25px;
	width: 354px;
	border: 1px solid #888;
    box-shadow: 0px 0px 10px 3px #bbb;
    padding-left: 10px;
	padding-right: 10px;
}

#nick_message {
	margin-top: 0px;
	margin-bottom: 12px;
}

#nick_dialog {
	overflow: hidden;
	padding: 12px;
}

#nick_button, #nick_button:hover, #nick_button:active {
	border: 1px solid #bbb;
	background-color: #eee;
}

#nick_button {
	margin-top: 12px;
	float: right;
	color: #444;
}

#nick_button:hover, #nick_button:active {
	color: #000;
	border: 1px solid #999;
	text-shadow: none;
}

#nick_button {
	border: 1px solid #bbb;
}

#nick_button, #nick_button:hover {
	font-family: ubuntuRegular;
	width: auto;
	height: auto;
	font-size: 18px;
	line-height: 18px;
	vertical-align: middle;
	text-decoration: none;
	padding: 6px 10px 6px 10px;
	margin-top: 12px;
	margin-left: 12px;
}

#nick_button:active {
	padding: 8px 10px 4px 10px;
	box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.6); 
}
#nick_button:hover {
	border: 1px solid #999;
}

#disconnected_indicator {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2000000019;
	text-align: center;
	vertical-align: middle;
}

#disconnected_text {
	color: #fff;
	font-size: 30px;
	text-shadow: 0px 0px 16px #000;
}

.bold_fix {
	font-family: ubuntuBold;
}

#gallery {
	overflow: hidden; /* forces wrap around */
	padding: 10px;
	margin: -10px;
}

.valign {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.bars_button {
	float: left;
	text-align: center;
	font-size: 26px;

	margin-top: -1px;
	padding-left: 7px;
}

.ui-selectmenu-text > .fa-caret-left {
	float: left;
	padding-top: 7px;
}

#room_menu-button {
	position: absolute;
	bottom: 0;
	margin-bottom: 12px;
}

#snapshot > .fa-camera {
	margin-left: -2px;
	font-size: 27px;
}