<div id="change_pw_dialog" class="modal_dialog" title="Change password" style="display: none;">
    <p class="modal_message">Current password</p>    
    <input id="change_pw_curr" class="modal_input" type="password" maxlength="{{ settings.PASSWORD_MAX_LEN }}" />

    <p class="modal_message">New password</p>    
    <input id="change_pw1" class="modal_input" type="password" maxlength="{{ settings.PASSWORD_MAX_LEN }}" />

    <p class="modal_message">Confirm new password</p>    
    <input id="change_pw2" class="modal_input" type="password" maxlength="{{ settings.PASSWORD_MAX_LEN }}" />

    <a id="change_pw_submit" class="button modal_button" href="javascript:void(0)">
        <i class="fa fa-arrow-right button_icon" aria-hidden="true"></i>Submit
    </a>
    <a id="change_pw_cancel" class="button modal_button" href="javascript:void(0)">
        <i class="fa fa-times button_icon" aria-hidden="true"></i>Cancel
    </a>
</div>