<!-- Galleries dialog -->
<div id="galleries_dialog" class="modal_dialog" title="Warning" style="display: none;">
    <p class="modal_message">
        The public galleries often contain offensive content that is <b>not safe for work (NSFW)</b>.
    </p>
    <p class="modal_message">
        Improved moderation will be added in future versions.
    </p>
    <p class="modal_message">
        Proceed?
    </p>

    <div>
        <label for="hide_gallery_warning">
            Don't show this again
        </label>
        <input id="hide_gallery_warning" class="modal_radio" type="checkbox" name="hide_gallery_warning">
    </div>

    <a id="galleries_ok" class="button modal_button" href="javascript:void(0)">
        <i class="fa fa-check button_icon" aria-hidden="true"></i>OK
    </a>
    <a id="galleries_cancel" class="button modal_button" href="javascript:void(0)">
        <i class="fa fa-times button_icon" aria-hidden="true"></i>Get me out of here!
    </a>
</div>