<!-- Login dialog -->
<div id="login_dialog" class="modal_dialog" title="Log in" style="display: none;">
    <p class="modal_message">Username</p>
    <input id="login_username" class="modal_input" type="text" maxlength="{{ settings.USER_NAME_LEN }}" />
    <p class="modal_message">Password</p>
    <input id="login_password" class="modal_input" type="password" maxlength="{{ settings.MAX_PASSWORD_LENGTH }}" />
    <a id="login_back" class="button modal_button modal_button_left" href="javascript:void(0)">
        <i class="fa fa-arrow-left button_icon" aria-hidden="true"></i>Back
    </a>
    <a id="login_submit" class="button modal_button" href="javascript:void(0)">
        <i class="fa fa-arrow-right button_icon" aria-hidden="true"></i>Submit
    </a>
    <a id="login_cancel" class="button modal_button" href="javascript:void(0)">
        <i class="fa fa-times button_icon" aria-hidden="true"></i>Cancel
    </a>
</div>