{% extends "wrapper.html" %}

{% block content %}
	
    <div id="drawing_container">
    	<div id="drawing_layers" style="width: {{ width }}px; height: {{ height }}px;">
    		<canvas id="drawing_canvas" width="{{ width }}" height="{{ height }}">
	        	Canvas not supported :(
	        </canvas>
    	</div>
    	<canvas id="crop_canvas" style="display: none;"></canvas>
    </div>
    <div id="controls"><input type="text" id="nickname" value="Anonymous" /></div>
		
{% endblock %}

{% block js %}
	<script>
		initSplash();
    	initDrawing("{{ drawID }}", {{ width }}, {{ height }});
    </script>
{% endblock %}
