{% extends "wrapper.html" %}

{% block content %}
	
    <div id="drawing_container">
    	<div id="drawing_layers" style="width: {{ width }}px; height: {{ height }}px;">
    		<canvas id="drawing_canvas" class="drawing_canvas" width="{{ width }}" height="{{ height }}">
	        	Canvas not supported :(
	        </canvas>
    	</div>
    	<canvas id="crop_canvas" style="display: none;"></canvas>
        <canvas id="flood_canvas" style="display: none;"></canvas>
    </div>
    <div id="controls">
        <input id="nickname" type="text" value="Anonymous" />
        <input id="brush_size" type="text" value="3" />
        <div id="colour_fg" style="background-color: #000;"></div><br />
        <a id="paint" class="button button_tool" href="javascript:void(0)">
            <i class="fa fa-paint-brush" aria-hidden="true"></i>
        </a>
        <a id="flood" class="button button_tool" href="javascript:void(0)">
            <i class="fa fa-database flood_rotate" aria-hidden="true"></i>
        </a>
        <a id="eyedropper" class="button button_tool" href="javascript:void(0)">
            <i class="fa fa-eyedropper" aria-hidden="true"></i>
        </a>
    </div>
		
{% endblock %}

{% block js %}
	<script>
		initSplash();
    	initDrawing("{{ drawID }}", {{ width }}, {{ height }});
    </script>
{% endblock %}
