{% block title %}Drawy.io - Drawing{% endblock %}

{% extends "wrapper.html" %}

{% block content %}
	<span class="bold_fix"></span>
	<div id="drawing_form">	
		<div id="drawing_container">
			<div id="drawing_layers" style="width: {{ width }}px; height: {{ height }}px;">
				<canvas id="drawing_canvas" width="{{ width }}" height="{{ height }}"></canvas>
				<!-- because preview_canvas is after drawing canvas, it will display over the top -->
				<canvas id="drawing_canvas_preview" width="{{ width }}" height="{{ height }}"></canvas>
				<div id="disconnected_indicator" style="width: {{ width }}px; height: {{ height }}px; display: none;">
					<div id="disconnected_text" class="valign">DISCONNECTED :(</div>
				</div>
			</div>
			<canvas id="crop_canvas" style="display: none;"></canvas>
			<canvas id="scratch_canvas" style="display: none;"></canvas>
		</div>
		<div id="controls">
			<input id="colour_picker" value="#000" />
			<a id="eyedropper" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-eyedropper" aria-hidden="true"></i>
			</a>
			<a id="paint" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-paint-brush" aria-hidden="true"></i>
			</a>
			<a id="line" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-minus rot45"  aria-hidden="true"></i>
			</a>
			<!-- flood fill
			<a id="flood" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-database rot45" aria-hidden="true"></i>
			</a>
			-->
			<a id="text" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-font" aria-hidden="true"></i>
			</a>

			<div id="brush_size_container" class="option_container">
				<select id="brush_size" class="controls_selectmenu">
					<option>1px</option>
					<option selected="selected">3px</option>
					<option>5px</option>
					<option>9px</option>
					<option>15px</option>
					<option>31px</option>
					<option>45px</option>
				</select>
			</div>

			<div id="font_face_container" class="option_container">
				<select id="font_face" class="controls_selectmenu">
					<option>Ubuntu Light</option>
					<option>Ubuntu Light Italic</option>
					<option selected="selected">Ubuntu Regular</option>
					<option>Ubuntu Regular Italic</option>
					<option>Ubuntu Medium</option>
					<option>Ubuntu Medium Italic</option>
					<option>Ubuntu Bold</option>
					<option>Ubuntu Bold Italic</option>
					<option>Ubuntu Mono Regular</option>
					<option>Ubuntu Mono Regular Italic</option>
					<option>Ubuntu Mono Bold</option>
					<option>Ubuntu Mono Bold Italic</option>
				</select>
			</div>

			<div id="font_size_container" class="option_container">
				<select id="font_size" class="controls_selectmenu">
					<option>8px</option>
					<option>12px</option>
					<option selected="selected">16px</option>
					<option>20px</option>
					<option>26px</option>
					<option>31px</option>
					<option>45px</option>
				</select>
			</div>

			<!-- Doesn't work anymore so commented out. Will fix when implementing chat -->
			<!-- <input id="nickname" type="text" value="Anonymous" /> -->
		</div>
	</div>
{% endblock %}

{% block js %}
	<!-- for the drawing text -->
	<div id="text_input" style="display:none;">
		<input type="text" id="text_input_box" name="text_input_box" value="Enter text">
	</div>
	<script>
		initSplash();
		drawUI("{{ drawID }}", {{ width }}, {{ height }});
	</script>
{% endblock %}
