{% block title %}Drawy.io - Galleries{% endblock %}

{% extends "wrapper.html" %}

{% block content %}
	<div class="control_bar">
        <label for="galleries_snapshots">
        	Snapshots
        </label><label for="galleries_rooms">
        	Rooms
        </label>
        <input class="modal_radio galleries_type" type="radio" name="galleries_type" id="galleries_snapshots">
        <input class="modal_radio galleries_type" type="radio" name="galleries_type" id="galleries_rooms">
    </div>

	<div id="gallery">
	{% include "gallery_snapshots.html" %}
	</div>
{% endblock %}

{% block js %}<script>
	initGlobal();
	GalleryUI();
</script>{% endblock %}
