{% block title %}Drawy.io{% endblock %}

{% extends "wrapper.html" %}

{% block content %}
	<div class="info">Paint in real-time with other people.</div>
	<h1 style="text-align: center">
		<i class="fa fa-star star_3" aria-hidden="true"></i>
		<i class="fa fa-star star_2" aria-hidden="true"></i>
		<i class="fa fa-star star_1" aria-hidden="true"></i>
		STAFF PICKS
		<i class="fa fa-star star_1" aria-hidden="true"></i>
		<i class="fa fa-star star_2" aria-hidden="true"></i>
		<i class="fa fa-star star_3" aria-hidden="true"></i>
	</h1>
	<div id="gallery">
		{% include "gallery_rooms.html" %}
	</div>
{% endblock %}

{% block js %}<script>initGlobal();</script>{% endblock %}