{% block title %}Drawy.io{% endblock %}

{% extends "wrapper.html" %}

{% block content %}
	<h1>Recents</h1>
	<div id="gallery">
	{% for entry in gallery %}
		<a href="/d/{{ entry.drawing.id }}" class="thumb">
			<img src="/d/{{ entry.drawing.id }}.png" class="thumb_img" style=
				"width: {{ width }}, height: {{ height }}" /><br />
			<div class="thumb_inf">
				{% if entry.nUsers > 0 %}
					<div class="thumb_nusers">
						<i class="fa fa-user-circle button_icon" aria-hidden="true"></i>{{ entry.nUsers }}
					</div>
				{% endif %}
				<div class="thumb_ago">{{ entry.ago }}</div>
			</div>
		</a>
	{% endfor %}
	</div>
{% endblock %}

{% block js %}<script>initSplash();</script>{% endblock %}