{% block title %}Drawy.io - {{ room.name }}{% endblock %}

{% extends "wrapper.html" %}

{% block content %}

	{% include "mod_dialog.html" %}

	<!-- Snapshot dialog -->
	<div id="snapshot_dialog" class="modal_dialog" title="Save this drawing" style="display: none;">
		<p id="snapshot_name_label" class="modal_message">Enter a name</p>
		<input id="snapshot_name_input" class="modal_input" type="text" value="{{ snapshotName }}" maxlength="50" />
		<p id="snapshot_name_label" class="modal_message">Visibility</p>
		<div>
			<label for="snapshot_visibility_public">
				Public
			</label><label for="snapshot_visibility_private">
				Private
			</label>
			<input class="modal_radio snapshot_visibility" type="radio" name="snapshot_visibility" id="snapshot_visibility_public">
			
			<input class="modal_radio snapshot_visibility" type="radio" name="snapshot_visibility" id="snapshot_visibility_private">
		</div>
		<p id="snapshot_public_info" class="modal_info">
			Saved drawing will appear in public galleries on this website. Anyone visiting the site can see it.
		</p>
		<p id="snapshot_private_info" class="modal_info" style="display: none;">
			Saved drawing won't appear in public galleries. Only people with the link can see it. 
		</p>

		<div class="recaptcha_container">
            <div id="snapshot_captcha" class="g-recaptcha" data-sitekey="{{ settings.RECAPTCHA_SITE_KEY }}"></div>
        </div>

		<a id="snapshot_ok" class="button modal_button" href="javascript:void(0)">
			<i class="fa fa-check button_icon" aria-hidden="true"></i>OK
		</a>
		<a id="snapshot_cancel" class="button modal_button" href="javascript:void(0)">
			<i class="fa fa-times button_icon" aria-hidden="true"></i>Cancel
		</a>
	</div>

	<span class="bold_fix"></span>
	<div id="drawing_form">
		<div id="drawing_header">
			<div id="drawing_title">{{ room.name }}</div>
		</div>
		<div id="disconnected_indicator" style="width: {{ width + 72 }}px; height: {{ height }}px; display: none;">
			<div id="disconnected_text" class="valign">DISCONNECTED</div>
		</div>
		<div id="drawing_container">
			<div id="drawing_layers" style="width: {{ width }}px; height: {{ height }}px;">
				<!-- filled by DrawUI -->
			</div>
			<canvas id="crop_canvas" style="display: none;"></canvas>
			<canvas id="scratch_canvas" style="display: none;"></canvas>
		</div>
		<div id="controls">
			{% if isMod %}
				<a id="mod_button" class="button button_tool" href="javascript:void(0)">
					<i class="fa fa-snowflake-o" aria-hidden="true"></i>
				</a>
			{% endif %}

			<a id="snapshot" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-camera" aria-hidden="true"></i>
			</a>

			<!-- <a id="room_menu" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-bars" aria-hidden="true"></i>
			</a> -->
			<input id="colour_picker" value="#000" />
			<a id="eyedropper" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-eyedropper" aria-hidden="true"></i>
			</a>
			<a id="paint" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-paint-brush" aria-hidden="true"></i>
			</a>
			<a id="line" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-minus rot45"  aria-hidden="true"></i>
			</a>
			<!-- flood fill
			<a id="flood" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-database rot45" aria-hidden="true"></i>
			</a>
			-->
			<a id="text" class="button button_tool" href="javascript:void(0)">
				<i class="fa fa-font" aria-hidden="true"></i>
			</a>

			<div id="brush_size_container" class="option_container">
				<select id="brush_size" class="controls_selectmenu">
					<option>1px</option>
					<option selected="selected">3px</option>
					<option>5px</option>
					<option>9px</option>
					<option>15px</option>
					<option>31px</option>
					<option>45px</option>
				</select>
			</div>

			<div id="font_face_container" class="option_container">
				<select id="font_face" class="controls_selectmenu">
					<option>Ubuntu Light</option>
					<option>Ubuntu Light Italic</option>
					<option selected="selected">Ubuntu Regular</option>
					<option>Ubuntu Regular Italic</option>
					<option>Ubuntu Medium</option>
					<option>Ubuntu Medium Italic</option>
					<option>Ubuntu Bold</option>
					<option>Ubuntu Bold Italic</option>
					<option>Ubuntu Mono Regular</option>
					<option>Ubuntu Mono Regular Italic</option>
					<option>Ubuntu Mono Bold</option>
					<option>Ubuntu Mono Bold Italic</option>
				</select>
			</div>

			<div id="font_size_container" class="option_container">
				<select id="font_size" class="controls_selectmenu">
					<option>8px</option>
					<option>12px</option>
					<option selected="selected">16px</option>
					<option>20px</option>
					<option>26px</option>
					<option>31px</option>
					<option>45px</option>
				</select>
			</div>
		</div>
	</div>
	<!-- for the drawing text -->
	<div id="text_input" style="display:none;">
		<input type="text" maxlength="256" id="text_input_box" name="text_input_box" value="Enter text">
	</div>

	<script>
		var opts = {
			"roomID": "{{ room.id }}",
			"width": {{ width }},
			"height": {{ height }},
			"isPrivate": {{ room.isPrivate }},
			"isDeleted": {{ room.isDeleted }}
		};
	</script>

{% endblock %}

{% block js %}
	<script>
		var roomUI = new RoomUI();
	</script>
{% endblock %}
