<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Collab draw app">
    <meta name="author" content="drawy.io">
    <title>Drawy.io</title>
    <link href="/css/drawy.io.css" rel="stylesheet">
</head>

<body>

    <!-- Navigation -->
    <nav id="navbar" role="navigation">
        <a class="logo" href="/">Drawy.io</a>
        <a id="create_drawing_btn" class="btn" href="javascript:void(0)">Create new drawing</a>
    </nav>

    <!-- Page Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/js/jquery.js"></script>

    <!-- socket.io stuff -->
    <script src="/socket.io/socket.io.js"></script>

    <!-- Our own front end code -->
    <script src="/js/client.js"></script>

    {% block js %}{% endblock %}

</body>

</html>
